@import "../../styles/index";

.quizWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	height: 100%;
	width: 100%;
	line-height: 1.5rem;
	letter-spacing: 0.01875rem;

	.quizHeader,
	.quizFooter {
		padding: 1.5rem;
		background-color: #222e3c;
	}
	.quizHeader {
		border-bottom: 1px solid rgba(0, 0, 0, 0.085);
		display: flex;
		align-items: center;
		justify-content: space-between;

		.quizLogo {
			font-size: 1.5rem;
			font-weight: 900;
			text-transform: uppercase;
			color: #fff;
			letter-spacing: 5px;
			@include devices("mobile-landscape") {
				font-size: 1rem;
			}
		}
		.quizProgress {
			color: #fff;
			display: flex;
			gap: 1rem;
			align-items: center;
			.progress {
				width: 300px;
				min-width: 300px;
				background-color: #19222c;
				border-radius: 15px;
				height: 10px;
				@include devices("mobile-landscape") {
					display: none;
				}
				.progressBar {
					height: 100%;
					border-radius: 15px;
					background-color: #1098ad;
				}
			}
		}
	}
	.quizFooter {
		border-top: 1px solid rgba(0, 0, 0, 0.085);
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;

		.quizTime {
			font-size: 1.2rem;
			@include devices("mobile-landscape") {
				font-size: 0.8rem;
			}

			& :global(.warning) {
				color: red;
			}
		}

		.quizAction {
			button {
				display: block;
				font-family: inherit;
				color: inherit;
				font-size: 1rem;
				border: 2px solid #1098ad;
				background-color: #1098ad;
				padding: 1rem 4rem;
				cursor: pointer;
				border-radius: 100px;
				transition: 0.3s;
				&:hover {
					background-color: #0c7181;
				}
				&:global(.quizFinish) {
					background-color: rgb(11, 68, 11);
					border-color: rgb(13, 46, 13);
				}
				@include devices("mobile-landscape") {
					padding: 0.5rem 2rem;
					font-size: 0.8rem;
				}
			}
		}
	}
}

.quizResultWrapper {
	line-height: 1.5rem;
	letter-spacing: 0.01875rem;
	text-align: left;
	max-width: 800px;
	margin: 0 auto;
	.quizOptions {
		ul {
			li {
				margin-bottom: 1.5rem;
				&:hover {
					background-color: rgba(10, 21, 32, 0.484);
					cursor: default;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:global(.selectedAnswer) {
					background-color: #44448c;
					padding-right: 6rem;
					&::after {
						font-family: inherit;
						content: "Your Answer";
						position: absolute;
						right: 1rem;
						top: 50%;
						transform: translateY(-50%);
						color: #fff;
						font-size: 0.7rem;
					}
					&:hover {
						background-color: #44448c !important;
						cursor: default;
					}
				}
				&:global(.active) {
					background-color: rgb(20, 51, 24);
					padding-right: 7rem;
					&::after {
						font-family: inherit;
						content: "Correct Answer";
						font-size: 0.7rem;
					}
					&:hover {
						background-color: rgb(20, 51, 24);
						cursor: default;
					}
				}
				&:global(.selectedAnswer.active) {
					padding-right: 12rem;
					&:hover {
						background-color: rgb(20, 51, 24) !important;
					}
					&::after {
						font-family: inherit;
						content: "Your Answer & Correct Answer";
					}
				}
			}
		}
	}
	.quizBody {
		border-bottom: 2px dotted rgba(255, 255, 255, 0.629);
	}
}

.quizBody {
	-webkit-box-flex: 2;
	-ms-flex: 2;
	flex: 2;
	overflow: auto;
	padding: 2rem;

	&::-webkit-scrollbar {
		display: none;
	}
}

.quizBodyInner {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	&:global(.notAnswered) {
		border: 2px solid rgba(255, 0, 0, 0.256);
		padding: 0.8rem;
		border-radius: 0.625rem;
		&:after {
			content: "You did not answer this question";
			color: rgb(245, 90, 90);
			font-size: 0.8rem;
		}
	}
}

.quizOptions {
	ul {
		list-style: none;
		li {
			position: relative;
			border-radius: 0.625rem;
			display: inline-block;
			width: 100%;
			padding: 1rem 1.125rem;
			background-color: rgba(10, 21, 32, 0.484);
			color: rgba(255, 255, 255, 0.86);
			font-weight: 200;
			margin-bottom: 1rem;
			cursor: pointer;
			transition: 0.3s;
			strong {
				margin-right: 0.3rem;
			}
			&:hover {
				background-color: rgb(10, 21, 32);
			}
			&:global(.active) {
				background-color: rgb(20, 51, 24);
				&::after {
					font-family: "bootstrap-icons";
					content: "\F270";
					position: absolute;
					right: 1rem;
					top: 50%;
					transform: translateY(-50%);
					color: #fff;
					font-size: 1.3rem;
				}
			}
			@include devices("mobile-landscape") {
				padding: 1rem;
				font-size: 0.8rem;
			}
		}
	}
}

.quizQuestion {
	border-radius: 0.625rem;
	display: inline-block;
	width: 100%;
	padding: 2rem 6.125rem 2rem 1.125rem;
	background-color: #1098ad;
	color: rgba(255, 255, 255, 0.86);
	font-weight: 200;
	margin-bottom: 2rem;
	position: relative;
	@include devices("mobile-landscape") {
		padding: 1rem 4.5rem 1rem 1rem;
	}
	strong {
		margin-right: 0.3rem;
	}
	.quizPoints {
		background-color: rgba(25, 34, 44, 0.229);
		color: #fff;
		position: absolute;
		right: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		font-size: 0.8rem;
		padding: 0.2rem 0.5rem;
		border-radius: 20px;
		@include devices("mobile-landscape") {
			font-size: 0.5rem;
			padding: 0rem 0.5rem;
			right: 0.5rem;
		}
	}
}

.StartScreen {
	height: 100%;
	width: 100%;
	padding: 0 24px;
}

.quizResult {
	padding: 50px 24px;
}

.StartScreen,
.quizResult {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	gap: 30px;
	flex-direction: column;
	h1 {
		font-size: 3rem;
		@include devices("mobile-landscape") {
			font-size: 2rem;
		}
	}
	h4 {
		font-size: 1.5rem;
		@include devices("mobile-landscape") {
			font-size: 1rem;
		}
	}
	button {
		display: block;
		font-family: inherit;
		color: inherit;
		font-size: 1rem;
		border: 2px solid #1098ad;
		background-color: #1098ad;
		padding: 1rem 4rem;
		cursor: pointer;
		border-radius: 100px;
		transition: 0.3s;
		&:hover {
			background-color: #0c7181;
		}
	}
}
