@import "../../styles/index";

.snapshotContainer {
	padding: 60px 24px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	button {
		cursor: pointer;
	}

	.snapshotTitle {
		h1 {
			color: #fff;
			font-size: 50px;
			font-weight: 900;
		}
	}

	.snapshotInput {
		max-width: 350px;
		width: 100%;
		position: relative;
		display: flex;

		input {
			font-size: 1em;
			width: 100%;
			background-color: transparent;
			color: #edeff0;
			padding: 10px 15px;
			border: 3px solid #d7dbdf;
			border-right: none;
			border-radius: 0.35em 0 0 0.35em;
			outline: none;

			&::placeholder {
				color: rgba(255, 255, 255, 0.388);
			}
		}
		button {
			height: 100%;
			background-color: transparent;
			color: #edeff0;
			padding: 10px 15px;
			border: 3px solid #d7dbdf;
			border-radius: 0 0.35em 0.35em 0;
			outline: none;
			font-size: 1.5rem;

			&:hover {
				background-color: rgba(237, 239, 240, 0.231);
			}
		}

		&:global(.error) {
			animation: shake 0.2s ease-in-out 0s 2;
			input,
			button {
				border-color: #6e2626;
				color: #6e2626;
			}
		}
	}

	.snapshotFilters {
		ul {
			display: flex;
			gap: 16px;
			@include devices("mobile-landscape") {
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}

			li {
				button {
					background-color: transparent;
					color: #edeff0;
					padding: 10px 15px;
					border: 3px solid #d7dbdf;
					border-radius: 0.35em;
					outline: none;
					font-size: 0.8rem;
					text-transform: capitalize;

					&:hover {
						background-color: rgba(237, 239, 240, 0.231);
					}

					&:global(.active) {
						background-color: #edeff0;
						color: #19222c;
					}
				}
			}
		}
	}

	.snapshotFilterTitle {
		color: #edeff0;
		font-size: 1.5rem;
		font-weight: 900;
		text-transform: capitalize;
	}

	.snapshotImages {
		ul {
			display: flex;
			flex-flow: row wrap;
			align-items: flex-start;
			justify-content: center;
			gap: 15px;
			li {
				width: 220px;
				height: 165px;
				overflow: hidden;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
		}
	}

	.noResultFound {
		color: #fff;
	}
}

@keyframes shake {
	0% {
		margin-left: 0rem;
	}
	25% {
		margin-left: 0.5rem;
	}
	75% {
		margin-left: -0.5rem;
	}
	100% {
		margin-left: 0rem;
	}
}
